### `Installing Packages`

In [ ]:
using Pkg

for pkg in ["CSV", "StatsBase", "DataFrames", "Plots", "Pluto", "StatsPlots", "Gadfly"]
    Pkg.add(pkg)
end

### `Importing Packages`

In [1]:
using CSV
using DataFrames
using StatsBase
using StatsPlots
using Gadfly
using Plots

### `Current Working Directory`

In [2]:
println(homedir())
println(pwd())

/Users/rock
/Users/rock/Git_Repo/Julia_Codes

###  `List of files in current working directory`

In [3]:
# cd("$(homedir())/Git_Repo/Julia_Codes")
readdir()

6-element Vector{String}:
 ".git"
 ".gitignore"
 "Codes.ipynb"
 "Codes.jl"
 "README.md"
 "iris.csv"

### `Importing Data`

In [4]:
df = CSV.read("/Users/rock/Git_Repo/Julia_Codes/iris.csv", DataFrame)

150×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64       Float64      String15
─────┼─────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  setosa
   2 │          4.9          3.0           1.4          0.2  setosa
   3 │          4.7          3.2           1.3          0.2  setosa
   4 │          4.6          3.1           1.5          0.2  setosa
   5 │          5.0          3.6           1.4          0.2  setosa
   6 │          5.4          3.9           1.7          0.4  setosa
   7 │          4.6          3.4           1.4          0.3  setosa
   8 │          5.0          3.4           1.5          0.2  setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮           ⋮
 144 │          6.8          3.2           5.9          2.3  virginica
 145 │          6.7          3.3           5.7          2.5  virginica
 146 │          6.7          3.0           5.2          2.3  virginica
 147 │          6.3          2.5           5.0          1.9  virginica
 148 │          6.5          3.0           5.2          2.0  virginica
 149 │          6.2          3.4           5.4          2.3  virginica
 150 │          5.9          3.0           5.1          1.8  virginica
                                                       135 rows omitted

In [5]:
# Shape of Dataset
size(df)

(150, 5)

In [6]:
# List of columns
names(df)

5-element Vector{String}:
 "sepal_length"
 "sepal_width"
 "petal_length"
 "petal_width"
 "species"

In [7]:
# First 10 rows
first(df, 2)

2×5 DataFrame
 Row │ sepal_length  sepal_width  petal_length  petal_width  species
     │ Float64       Float64      Float64       Float64      String15
─────┼────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  setosa
   2 │          4.9          3.0           1.4          0.2  setosa

In [8]:
# to get statistics of a dataset
describe(df)

5×7 DataFrame
 Row │ variable      mean     min     median  max        nmissing  eltype
     │ Symbol        Union…   Any     Union…  Any        Int64     DataType
─────┼──────────────────────────────────────────────────────────────────────
   1 │ sepal_length  5.84333  4.3     5.8     7.9               0  Float64
   2 │ sepal_width   3.054    2.0     3.0     4.4               0  Float64
   3 │ petal_length  3.75867  1.0     4.35    6.9               0  Float64
   4 │ petal_width   1.19867  0.1     1.3     2.5               0  Float64
   5 │ species                setosa          virginica         0  String15

In [9]:
df[:, r"sepal_length"]

150×1 DataFrame
 Row │ sepal_length
     │ Float64
─────┼──────────────
   1 │          5.1
   2 │          4.9
   3 │          4.7
   4 │          4.6
   5 │          5.0
   6 │          5.4
   7 │          4.6
   8 │          5.0
  ⋮  │      ⋮
 144 │          6.8
 145 │          6.7
 146 │          6.7
 147 │          6.3
 148 │          6.5
 149 │          6.2
 150 │          5.9
    135 rows omitted

In [10]:
# Selecting the 3rd row of the data frame
# df[:3, [:sepal_length]]
# df[:, r"sepal_length"]
df[:3, [:sepal_length]]

DataFrameRow
 Row │ sepal_length
     │ Float64
─────┼──────────────
   3 │          4.7

In [12]:
# x = 1:10; y = rand(10); # These are the plotting data
# plot(x, y)

In [13]:
# Plot Histogram
# Plots.histogram(df[:, r"sepal_length"], bins = 50, xlabel = "sepal_length", 
#                 labels = "Length in cm")

# plot(df, x=:species, y=:sepal_length, kind="bar")